.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 95vh;

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    height: 100%;
  }
}
