.preSubtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px dashed black;

  img[alt='pencil'] {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
