.wrapper {
  position: relative;
  display: flex;
  gap: 15px;

  section {
    position: absolute;
    top: -15px;
    left: 130px;

    input {
      width: 200px;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    ul {
      position: absolute;
      top: 50px;
      left: 16px;
      padding: 0;
      width: 200px;

      border-radius: 10px;
      background-color: white;
    }

    .activeList {
      border: 2px solid black;
    }
  }
}
