.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  textarea {
    height: 300px;
    outline: none;
    resize: none;
  }

  button {
    cursor: pointer;
    width: 35px;
    height: 35px;
  }

  img {
    cursor: pointer;
    margin: 0;
  }
}
