.wrapper {
  img {
    opacity: 0;
    cursor: pointer;
    float: right;
    width: 15px;
    height: 15px;

    margin-top: 5px;
    margin-right: 5px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:hover img {
    opacity: 1;
  }
}
