.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #f3e5d8;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 700px;
    height: 100%;
    margin-bottom: 20px;
    padding: 40px;
    background-color: white;

    border-radius: 20px;

    figure {
      width: 640px;
      height: 300px;
      border-radius: 18px;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    section {
      width: 640px;
      padding: 14px;
      border-radius: 18px;

      h4 {
        color: brown;
      }

      li::marker {
        color: brown;
      }
    }

    .purpleContainer {
      h4 {
        color: purple;
      }

      li::marker {
        color: purple;
      }

      background-color: rgba(128, 0, 128, 0.1);
    }

    .instructions {
      li {
        list-style-type: decimal;
      }
    }
  }
}
